.nav {
  width: 200px;
}

.nav .wrap {
  width: inherit;
  height: 100%;
  border-right: 1px solid #eff3f4;
  position: fixed;
}

.nav ul {
  padding: 20px;
}
.nav ul .logo {
  margin-bottom: 20px;
}
.nav ul a {
  font-size: 20px;
  display: inline-block;
  width: 100%;
  margin: 15px 10px;
}
.nav ul a span {
  padding: 10px;
  padding-right: 20px;
  margin-left: -20px;
  border-radius: 999px;
  transition: background 0.2s ease-in-out;
}
.nav ul a:hover span {
  background: #e7e7e8;
}
.nav .active a {
  font-weight: 700;
}
